body {
    background-image: url(../images/MTG_8.jpg);
    background-size:cover;
    font-family: 'IM Fell French Canon SC', serif; 
    }

    #header {
        background-color: #331B0D;
     }
     
     .title { 
        float: right;
        color: teal;
        font-size: 30px;
        font-weight: 700;
        padding-top: 15px;
        text-align: center;
        text-decoration: none;
     }#nav {
        float: left;
        margin-top: 25px;
     }
     
     #nav a {
        display: inline-block;
        padding-left: 15px;
        margin-left: 15px;
        margin-bottom: 20px;
        color: teal;
        text-decoration: none;
        border-left: 1px solid black;
     }
     
     #nav a:first-child {
        border-left: 0 none;
     }
     
     #nav a:hover {
        color: yellow;
     }
    #Form {
        margin-top: 100px; 
        color: white;
       border: 1px solid black; 
       background: rgba(53, 53, 71, 0.3);
       width: 350px;
       height: 120px;
       padding: 30px;
       text-align: center; 
    
       
    }
    #map {
       width: 50%;
       height: 500px;
       float: right;
       border: 3px solid rgba(28, 28, 31, 0.3);
    }
    #addressCard {
        margin: 8% auto;
        float: left;
        height: 400px;
        width: 40%;
        text-align: center;
        
    }
    .card{
    /* clear: left; */
    border: 1px solid black;
       /* background: rgb(250, 249, 249, 0.3); */
       margin: 5px;
       color: black;
    }
   